body {
	padding: 0;
  	margin: 0;
	background-color: #f2f2f2;
	text-align: center;
	color: #000;
	font-family: 'Montserrat', sans-serif;
}


header span {
	margin-left: -20px;
}

.interested {
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin-right: 35px;
}
/*
.splbtn {
	text-decoration: none;
	background-color: #fff;
	color: #000;
    padding: 10px;
    margin-right: 35px;
}

.splbtn:hover,
.splbtn:focus {
	background-color: #cecece;
	transition: ease 0.3s;
	text-decoration: underline;
}

.splNotice {
    margin-top: 130px;
    width: 100%;
    min-height: 50px;
    background-color: #000;
    color: #fff;
    line-height: 3.1;
    max-height: 210px;
}
*/
#sbmt:hover,
#sbmt:focus,
.interested:hover,
.interested:focus {
	background-color: #333;
	transition: ease 0.3s;
	text-decoration: underline;
}

.artist {
	width: 35%;
	height: 35%;
}

.logo {
	width: 200px;
	float: left;
}

.quote {
	font-size: 70px;
	text-align: right;
	line-height: 100px;
	margin-right: 70px;
	color: #000;
	float:right;
}

.name {
	font-size: 30px;
	text-align: right;
	color: #656565;
}

.imgAndQuote {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 40px;
	margin-top: -100px; /* remove later */
}

.img {
    width: 300px;
    padding: 20px;
    margin: 5px;
}

.content {
	margin-top: 170px;
}

.text {
	text-align: left;
	padding: 20px;
}

nav {
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: 0;
	position: fixed;
	width: 100%;
	padding-left: 25px;
	background-color: #f2f2f2;
}

header span{
	text-align: right;
	line-height: 10px;
}

.container {
	padding-top: 70px;
}

footer {
	line-height: 50px;
	height: 50px;
	width: 100%;
}

.flexer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.flexer div {
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 1px solid #000000;
	margin: 1px;
}

.flexer ul {
	padding: 15px;
    text-align: left;
}

.formDiv {
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: center;
}

#sbmt {
	padding: 6px;
	font-size: 14px;
	cursor: pointer;
	border-radius: 0 0 0 0;
	-moz-border-radius: 0 0 0 0;
	-webkit-border-radius: 0 0 0 0;
	border: 0px solid #000000;
	color: #fff;
	background-color: #000;
}

.thankyou_message {
	color: #000;
}

#msg {
	width: 300px;
	height: 120px;
}

.label {
	display: inline;
    background-color: #fff;
    padding: 6px;
}

li {
	list-style-type: none;
}

.underline {
	text-decoration: underline;
}

.userdetails {
	width: 300px;
	height: 30px;
	font-size: 17px;
}

#sbmt {
	width: 300px;
}

.love {
	color: #d60000;
}

@media screen and (max-width: 1200px) {
	.flexer div {
		width: 40%;
	}

	ul {
		padding: 15px;
		text-align: left;
	}
}

@media screen and (max-width: 1025px) {
	.text p,
	li {
			font-size: 24px;
	}
}

@media screen and (max-width: 1050px) {

	.flexer div {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {

	.content {
		margin-top: 210px;
	}

	.interested {
	    margin-right: 0;
	}

	header nav h1 {
		width: 360px;
	}

	nav {
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 10px;
		padding-left: 0;
	}

	.quote {
		font-size: 40px;
		line-height: 60px;
		margin-right: 0;
		order: 1;
		text-align: left;
	}

	.name {
		font-size: 18px;
	}

	.imgAndQuote {
		flex-direction: column;
	}

	.artist  {
		order: 2;
		width: 100%;
		height: 100%;
	}

	footer {
		font-size: 10px;
	}
}