body {
	padding: 0;
  	margin: 0;
	background-color: #f2f2f2;
	text-align: center;
	color: #000;
	font-family: 'Roboto', sans-serif;
}

header nav h1 {
	width: 310px;
}

header span {
	margin-left: -20px;
}

#interested {
    text-decoration: none;
    background-color: #1b01a9;
    color: #fff;
    padding: 10px;
    margin-right: 35px;
}

#interested:hover,
#interested:focus {
	background-color: #01a90e;
	transition: ease 0.3s;
	text-decoration: underline;
}

#sbmt:hover,
#sbmt:focus {
	background-color: #1b01a9;
	transition: ease 0.3s;
	text-decoration: underline;
}


.artist {
	width: 35%;
	height: 35%;
}

.logo {
	width: 80px;
	height: 80px;
	float: left;
}

.quote {
	font-size: 90px;
	text-align: right;
	line-height: 100px;
	margin-right: 70px;
	color: #f17d75;
	float:right;
}

.name {
	font-size: 30px;
	text-align: right;
	color: #656565;
}

.imgAndQuote {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 40px;
}

.img {
    width: 300px;
    padding: 20px;
    margin: 5px;

/*  background-color: #fff;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75); */
}

.content {
	margin-top: 40px;
}

.text {
	text-align: right;
	padding: 20px;
}

nav {
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: 0;
	position: fixed;
	width: 100%;
	padding-left: 25px;
	background-color: #f2f2f2;
	/*
	background: rgba(255,137,1,1);
	background: -moz-linear-gradient(left, rgba(255,137,1,1) 0%, rgba(218,28,95,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,137,1,1)), color-stop(100%, rgba(218,28,95,1)));
	background: -webkit-linear-gradient(left, rgba(255,137,1,1) 0%, rgba(218,28,95,1) 100%);
	background: -o-linear-gradient(left, rgba(255,137,1,1) 0%, rgba(218,28,95,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,137,1,1) 0%, rgba(218,28,95,1) 100%);
	background: linear-gradient(to right, rgba(255,137,1,1) 0%, rgba(218,28,95,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8901', endColorstr='#da1c5f', GradientType=1 );
	*/
}

header span{
	text-align: right;
	line-height: 10px;
}

.container {
	padding-top: 70px;
}

footer {
	line-height: 50px;
	height: 50px;
	width: 100%;
}

.flexer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.flexer div {
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 1px solid #000000;
	margin: 1px;
}

.flexer ul {
	padding: 15px;
    text-align: left;
}

.formDiv {
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: center;
}

#sbmt {
	padding: 6px;
	font-size: 14px;
	cursor: pointer;
	border-radius: 0 0 0 0;
	-moz-border-radius: 0 0 0 0;
	-webkit-border-radius: 0 0 0 0;
	border: 0px solid #000000;
	color: #fff;
	background-color: #01a90e;
}

.thankyou_message {
	color: #01a90e;
}

#msg {
	width: 300px;
	height: 120px;
}

.label {
	display: inline;
    background-color: #fff;
    padding: 6px;
}

li {
	list-style-type: none;
}

.underline {
	text-decoration: underline;
}

@media screen and (max-width: 1200px) {
	.flexer div {
		width: 40%;
	}
}

@media screen and (max-width: 1025px) {
	.text p,
	li {
			font-size: 24px;
	}

	ul {
		text-align: left;
	}
}

@media screen and (max-width: 1050px) {
	.userdetails {
		width: 80%;
    	height: 30px;
    	font-size: 17px;
	}

	.flexer div {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {

	#interested {
	    margin-right: 0;
	}

	nav {
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 10px;
		padding-left: 0;
	}

	.quote {
		font-size: 40px;
		line-height: 60px;
		margin-right: 0;
		order: 1;
		text-align: left;
	}

	.name {
		font-size: 18px;
	}

	.imgAndQuote {
		flex-direction: column;
	}

	.artist  {
		order: 2;
		width: 100%;
		height: 100%;
	}

	footer {
		font-size: 10;
	}
}